@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F9F7F2;
  --color-accent-yellow: #E8B931;
  --color-accent-green: #6DA34D;
  --color-text-main: #1A1A1A;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}


:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-main);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}